.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing-xs);
    padding: var(--spacing-sm);
    width: var(--sizing-md);
    color: var(--color-bg);
    border-radius: var(--rounded-md);
    background-color: var(--color-blue);
}

.text {
    flex: 1 1 0%;
    font-size: var(--text-lg);
}
