.container {
    /* width: var(--sizing-md); */
    height: 100%;
    flex-direction: column;
    overflow-y: scroll;
}

.list {
    flex: 1 1 auto;
    overflow-y: auto;
    margin: 0;
    padding-left: 0;
}
