.container {
    margin: var(--spacing-lg);
    width: var(--sizing-lg);
    height: var(--sizing-lg);
    padding-top: calc(var(--spacing-xl) * 3);
}

.title {
    padding-left: var(--spacing-xl);
    font-size: var(--text-xl);
}
