.container {
    background-color: var(--color-bg);
    border-radius: var(--rounded-md);
    text-align: var(--text-align);
    border: var(--border);
    box-shadow: var(--shadow);
    padding: var(--padding);

    transition-property: border-color;
    transition-duration: 0.1s;
}

.container:hover {
    border-color: var(--border-color-hover);
}
