.grid {
    display: grid;
}

.gridFixed {
    grid-template-columns: repeat(var(--cols), 1fr);
}

.gridAuto {
    grid-template-columns: repeat(
        auto-fit,
        minmax(var(--min-width), var(--max-width))
    );
}
