.calendar {
    max-width: var(--container-lg);
    width: 100%;
    height: 100%;
}

.headerCell {
    padding: var(--spacing-xs);
}

.businessDay {
    color: var(--color-vivid);
}
.holyday {
    color: var(--color-red);
}

.sunday {
    color: var(--color-red);
}

.saturday {
    color: var(--color-blue);
}

.dim {
    opacity: 0.3;
}

.dayCircle {
    width: 24px;
    height: 24px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.today {
    background-color: var(--color-today);
    color: var(--color-vivid-inverted);
}

.bold {
    font-weight: var(--font-weight-semibold);
}

.eventBox {
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--rounded-md);
    background-color: var(--color-vivid);
    color: var(--color-vivid-inverted);
}
