.container {
    display: flex;
    gap: var(--spacing-md);
    text-align: center;
}

.addBtn,
.fanpostItem {
    display: inline-block;
    width: var(--sizing-md);
    height: var(--sizing-md);
    border: 5px solid var(--color-blue);
    border-radius: var(--spacing-xs);
}
