.mypage-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-color: white;
}

.search-top {
  display: flex;
  justify-content: center;
  padding: 15px 20px;
  border-bottom: 1px solid #ccc;
  background: white;
}

.search-box {
  width: 100%;
  max-width: 400px;
}

.search-box input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  color: #333;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
}

.search-box input::placeholder {
  color: #999;
  font-style: italic;
}

/* NavBar 아래 사용자 프로필 */
.profile-feed {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: white;
  margin-top: 70px; /*Layout.jsx navbar와 안겹치게 하기 위한 마진 */
}

.profile-box {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 20px;
  background-color: white;
  border-radius: 10px;
}

.user-profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: bold;
  font-size: 16px;
  color: black;
}

.user-stats {
  font-size: 13px;
  color: #555;
  display: flex;
  gap: 10px;
}

/* 본문 영역(없어지면 사이드바에 영향을 줌) */
.mypage-container {
  display: flex;
  flex: 1;
  width: 100%;
  background-color: white;
}

.mypage-content {
  flex: 1;
  padding: 20px 40px;
  background-color: white;
  min-width: 0;
  color: black;
}
/* -------------------------- */

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.card {
  background-color: gray;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  text-align: center;
  color: black;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 6px;
}

.card h3 {
  margin: 10px 0 5px;
  font-size: 16px;
}

.card p {
  font-size: 14px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* 반응형 */
@media (max-width: 1024px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}