.superuserContainer {
  padding: var(--spacing-lg);
  font-family: inherit;
}

/* ✅ 상단 flex 바 */
.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  display: block;
  width: 200px;
  text-align: center;
  padding: var(--spacing-sm);
  background-color: var(--color-muted);
  color: var(--color-white);
  margin-bottom: var(--spacing-lg);
  border-radius: var(--rounded-md);
  font-size: var(--text-xl);
}

.userTable {
  width: 100%;
  border-collapse: collapse;
}

.userTable th,
.userTable td {
  border: 1px solid var(--color-dimdim);
  padding: var(--spacing-sm);
  text-align: center;
}

.userTable th {
  background-color: var(--color-muted);
  color: var(--color-white);
}

.userTable button:hover {
  background-color: var(--color-dim);
  color: var(--color-white);
}