.artistButton {
    font-weight: var(--font-weight-semibold);
    text-align: var(--text-align);
    color: var(--color);
}

.sidebar {
    text-align: start;
    height: 100%;
    min-width: 300px;
    flex-shrink: 0;
    padding: var(--spacing-md);
    overflow: scroll;
}
