.container {
    max-height: var(--container-md);
    max-width: var(--container-lg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 0;
}

.grid {
    text-align: left;
    height: 100%;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
