.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    max-width: 1200px;
    margin: auto;
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    padding-left: var(--spacing-lg);
    width: 500px;
}

.select {
    font-size: var(--text-xs);
    padding: var(--spacing-xs);
    border: 1px solid var(--color-dimdim);
}

.textarea {
    height: 250px;
    padding: var(--spacing-md);
    font-size: var(--text-md);
    border: 1px solid var(--color-dimdim);
}

.select,
.btn {
    width: 200px;
}
