.container {
    max-width: var(--container-lg);
    margin: auto;
    margin-top: var(--spacing-lg);
}

.circleIcon {
    width: calc(var(--sizing-sm) - 100px);
    height: calc(var(--sizing-sm) - 100px);
    margin-left: var(--spacing-sm);
}

.bannerContainer {
    overflow: hidden;
}

.banner {
    height: 300px;
}

.text {
    margin-top: var(--spacing-lg);
    font-weight: bold;
}

.calendarContainer {
    display: flex;
    justify-content: space-between;
}

.scheduleContainer {
    width: var(--sizing-lg);
}

.dailyScheduleContainer {
    text-align: center;
}

.dailySchedyleRoundbox {
    display: flex;
    width: var(--sizing-lg);
    height: calc(var(--sizing-sm) / 2);
    margin-left: var(--spacing-xl);
}

.dailySchedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: var(--spacing-md);
    margin-top: var(--spacing-md);
    font-size: var(--text-lg);
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: var(--spacing-xl);
    margin-top: var(--spacing-md);
}
