* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    scrollbar-color: oklch(0.5 0 0) transparent;
}

:root {
    --color-yellow: light-dark(
        oklch(0.5 0.0526 89.08),
        oklch(0.9 0.0526 89.08)
    );
    --color-yellow-accent: light-dark(
        oklch(0.4 0.0526 89.08),
        oklch(0.95 0.0526 89.08)
    );

    --color-blue: light-dark(
        oklch(0.5 0.0526 243.52),
        oklch(0.9 0.0526 243.52)
    );
    --color-blue-accent: light-dark(
        oklch(0.4 0.0526 243.52),
        oklch(0.95 0.0526 243.52)
    );

    --color-red: light-dark(oklch(0.5 0.0526 0), oklch(0.9 0.0526 0));
    --color-red-accent: light-dark(oklch(0.4 0.0526 0), oklch(0.95 0.0526 0));
    --color-vivid: light-dark(rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.9));
    --color-muted: light-dark(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.6));
    --color-vivid-inverted: light-dark(
        rgba(255, 255, 255, 0.9),
        rgba(0, 0, 0, 0.9)
    );
    --color-muted-inverted: light-dark(
        rgba(255, 255, 255, 0.6),
        rgba(0, 0, 0, 0.6)
    );
    --color-dim: light-dark(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3));
    --color-dimdim: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    --color-dimdimdim: light-dark(
        rgba(0, 0, 0, 0.05),
        rgba(255, 255, 255, 0.05)
    );

    --color-bg: light-dark(oklch(1 0 0), oklch(0 0 0));

    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 12px;
    --spacing-lg: 24px;
    --spacing-xl: 48px;

    --text-sm: 14px;
    --text-md: 16px;
    --text-lg: 20px;
    --text-xl: 24px;

    --font-weight-regular: 400;
    --font-weight-semibold: 600;

    --rounded-md: 6px;
    --rounded-full: 999px;

    --drop-shadow-md:
        0px 0px 0px 1px var(--color-dimdimdim),
        0px 1px 1px -0.5px var(--color-dimdimdim),
        0px 3px 3px -1.5px var(--color-dimdimdim),
        0px 6px 6px -3px var(--color-dimdimdim),
        0px 12px 12px -6px var(--color-dimdimdim),
        0px 24px 24px -12px var(--color-dimdimdim);

    --sizing-sm: 200px;
    --sizing-md: 300px;
    --sizing-lg: 400px;
    --sizing-xl: 500px;

    --container-md: 700px;
    --container-lg: 1200px;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-vivid);
    background-color: var(--color-bg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
