.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.topBar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.iconWrapper {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    flex: 1;
}
.iconWrapper::-webkit-scrollbar {
    display: none;
}

.arrow {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 0 0.5rem;
}

.buttonRight {
    margin-left: auto;
    flex-shrink: 0;
}

.bannerContainer {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 1rem;
}

.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.scheduleTitle {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.scheduleList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.artistName {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-semibold);
}
